body {
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #24292e;
}

.content {
    text-align: center;
}

.content input {
    height: 2em;
    width: 20em;
    font-size: 1em;
    padding: 0.5em;
}

.exchange {
    margin: 30px 0 30px 0;
}
